@import '@mdxeditor/editor/style.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Scrollbar Customization */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
  }

  body {
    @apply bg-background-light dark:bg-background-dark font-display text-gray-900 dark:text-gray-100 h-screen overflow-hidden selection:bg-primary/30 selection:text-primary;
  }
}

.typing-cursor::after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 1.2em;
  background-color: #137fec;
  margin-left: 2px;
  vertical-align: middle;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Editor Refinements */
.note-content p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

/* Ensure lists don't have huge gaps either */
.note-content ul,
.note-content ol {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}